<%= form_with(model: papel, local: true) do |form| %>
  <% if papel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(papel.errors.count, "error") %> prohibited this papel from being saved:</h2>

      <ul>
      <% papel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao %>
  </div>

  <%= form.hidden_field 'permissao_ids[]', value: [] %>

<div class="form-group">
  <%= form.label :papel_permissaos, "Permissões Granulares"%>
  <% @papels.each do |controller| %>
    <h3><%= t("controllers.#{controller[:name]}") %></h3>
    <div class="row">
      <% controller[:actions].sort.each do |action| %>
        <div class="col-xs-6 col-md-6">
          <div class="checkbox">
            <label>
              <%= check_box_tag "papels[]", "#{controller[:name]}_#{action}", papel.has_permissao?("#{controller[:name]}_#{action}"), id: "#{controller[:name]}_#{action}" %>
              <%= form.label t("controllers.actions.#{action}"), for: "#{controller[:name]}_#{action}" %>
            </label>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
