<p id="notice"><%= notice %></p>

<% if @documentos.empty? %>
              <tr>
                <td colspan="5" style="text-align: center">
                  <h3>Nenhum Documento.</h3>
                </td>
              </tr>
            <% else %>
<div class="table-responsive">
<h1>Documentos <%= link_to 'New Documento', new_documento_path, class: "btn btn-lg btn-primary" %></h1>

<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Título</th>
      <th>Autor</th>
      <th>Órgão de Origem</th>
      <th>Órgão de Destino</th>
      <th>Visibilidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @documentos.each do |documento| %>
      <tr>
        <td><%= documento.nome %></td>
        <td><%= documento.titulo %></td>
        <td><%= documento.autor.nome %></td>
        <td><%= documento.autor.departamento.orgao.nome %></td>
        <td><%= documento.orgao.nome %></td>
        <td><%= documento.visibilidade %></td>
        <td><%= link_to 'Visualizar', documento %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% end %>

</div>