<p id="notice"><%= notice %></p>

<h1>Documentos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Título</th>
      <th>Autor</th>
      <th>Órgao</th>
      <th>Visibilidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @documentos.each do |documento| %>
      <tr>
        <td><%= documento.nome %></td>
        <td><%= documento.titulo %></td>
        <td><%= documento.autor %></td>
        <td><%= documento.orgao %></td>
        <td><%= documento.visibilidade %></td>
        <td><%= link_to 'Visualizar', documento %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Documento', new_documento_path %>
