<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @documento.nome %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @documento.descricao %>
</p>

<p>
  <strong>Título:</strong>
  <%= @documento.titulo %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @documento.autor %>
</p>

<p>
  <strong>Órgão:</strong>
  <%= @documento.orgao %>
</p>

<p>
  <strong>Visibilidade:</strong>
  <%= @documento.visibilidade %>
</p>

<p>
  <strong>Autenticação:</strong>
  <%= @documento.brasao if @documento.brasao.present? %>
</p>

<%= link_to 'IMPRIMIR', documento_path(@documento, format: 'pdf') %> |
<%= link_to 'Back', documentos_path %>
