<p id="notice"><%= notice %></p>
<div class="table-responsive">
    <h1>Órgãos <%= link_to 'Novo Órgão', new_orgao_path, class: 'btn btn-lg btn-primary' %></h1>
<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Endereço</th>
      <th>Chefe</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orgaos.each do |orgao| %>
      <tr>
        <td><%= orgao.nome %></td>
        <td><%= orgao.endereco %></td>
        <td><%= orgao.chefe %></td>
        <td><%= link_to 'Show', orgao %></td>
        <td><%= link_to 'Edit', edit_orgao_path(orgao) %></td>
        <td><%= link_to 'Destroy', orgao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
